@page
@model JekirdekProject.UILayer.Pages.Customers.IndexModel
@{
    ViewData["Title"] = "Customers";
}
<h2>Customers</h2>

<!-- Arama Kutusu -->
<form method="get">
    <div class="input-group mb-3">
        <input type="text" name="SearchTerm" value="@Model.SearchTerm" class="form-control" placeholder="Search by name..." />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<a asp-page="Create" class="btn btn-primary">Add New Customer</a>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Region</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.Email</td>
                <td>@customer.Region</td>
                <td>
                    <a asp-page="Update" asp-route-id="@customer.Id" class="btn btn-warning">Update</a>
                    <a asp-page="Details" asp-route-id="@customer.Id" class="btn btn-info">Details</a>
                    <a asp-page="Delete" asp-route-id="@customer.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
